<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My first template with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hello World!</p>
    <div>
     <p>Employee ID: <span th:text="${employee.id}">First name</span></p>
     <p>Employee Name: <span th:text="${employee.name}">Last name</span></p>
     <p>Employee Salary: <span th:text="${employee.salary}">Last name</span></p>
</div>
</body>
</html>